<form action="/api/photos" method="POST">
  <label for="title">Title</label>
  <input type="text" id="title" name="photo[title]"></input>
  <label for="url">URL</label>
  <input type="text" id="url" name="photo[url]"></input>
  <input type="submit" value="Create Photo"></input>
</form>